@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: oklch(96% 0.007 247.896);
  --color-base-300: oklch(92% 0.013 255.508);
  --color-base-content: oklch(0% 0 0);
  --color-primary: #2563eb;
  --color-primary-content: oklch(97% 0.014 308.299);
  --color-secondary: #60a5fa;
  --color-secondary-content: oklch(98% 0 0);
  --color-accent: #bfdbfe;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #1e3a8a;
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: #3b82f6;
  --color-info-content: oklch(100% 0 0);
  --color-success: #10b981;
  --color-success-content: oklch(100% 0 0);
  --color-warning: #f59e0b;
  --color-warning-content: oklch(100% 0 0);
  --color-error: #ef4444;
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
